
.navigationbar{
    display: flex;
}

.logo{
    padding-left: 60px;
    padding-right: 60px;
}

.nav-content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding-left: 350px;
    padding-right: 60px;
}

.list{
    padding-right: 20px;
    color: white;
}

.search-form{
    padding-left: 20px;
}

/* .blue{
    background-color: blue;
    height: 30px;
    width: 100%;
} */

.outline-onboarding{
    border-style: groove;
    padding: 20px;
}

.inline-onboarding{
    margin-bottom: 30px;
}

.button-style{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-style .button{
    padding-left: 20px;
    border: 1px solid red;
}

.heading{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}